<footer class="w-full text-center">
    <div class="flex py-8 justify-center">
        <p>
            <a href="/scraped/articles" class="underline">Articles</a>
            |
            <a href="https://github.com/reekamaharaj/thoseCuteFuzzies" class="underline">GitHub Repo</a>
        </p>
    </div>
</footer>