<footer class="w-full text-center">
    <div class="flex py-8 justify-center">
        <p>
        <p>Articles from <a href="https://www.lovemeow.com/" class="underline">Love Meow</a></p>
        |
        <a href="https://github.com/reekamaharaj/thoseCuteFuzzies" class="underline">GitHub Repo</a>
        </p>
    </div>
</footer>