<section class="w-full mx-auto flex pt-12 md:pt-0 md:items-center bg-cover bg-right"
    style="max-width:1600px; height: 16rem; background-image: url('https://images.unsplash.com/photo-1573812195421-50a396d17893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1936&q=80');">
</section>