<button class="modalbtn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id={{_id}}> View/Add Note </button>
<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <h1>Hello, I am a modal!</h1>
    </div>
</div>