<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/output.css">
		<title>Web Scraper</title>
	</head>
	<div class="flex md:flex-row-reverse flex-wrap">
		<body class="bg-gray-100 text-gray-600 font-sans leading-normal text-base tracking-normal">
				{{> header }}
				{{{ body }}}
				{{> nav }}
		</body>
	</div>
	<footer class="w-full text-center">
        {{> footer }}
    </footer>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</html>